boards:
  test:
    title: First Board
    items:
      -
        id: clock1
        provider: \StpBoard\Clock\ClockControllerProvider
        refresh: 0
        width: 4

  external_page:
    title: External page
    type: external_page
    url: http://www.google.com
    refresh: 300 # optional - in seconds
