{% extends 'layout.html.twig' %}

{% set title = 'STP' %}

{% block body %}
    <ul>
        {% for board in boards %}
            <li><a href="/boards/{{ board.id }}">{{ board.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
